<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link href="../../public/css/funcionalidade.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <title>Administração - IFMG</title>
    <link rel="icon" href="../../public/images/ifmg.png" />
</head>

<body>
    <div class="container">
    <div class = "divWhite"></div>
    <div class="v18_105">
        <div class="v18_106"></div>
       <a href="../home/index.html"><span class="v18_108">IFMG</span></a> 
        <div class="v18_109"></div>
        <div class="v18_126"></div>
        <span class="v18_127">Palavras - Chave</span>
        <div class="v18_130"></div>
        <input class="v18_131" placeholder="Digite a Palavra-Chave"></input>
        <div class="v18_132"></div>
        <div class="v18_134"></div>
        <span class="v18_136">id</span>
        <span class="v18_139">Nome</span>
        <span class="v18_135">Calendário 2021</span>
        <span class="v18_143">03/12/2021 as 23:50</span>
        <div class="v18_137"></div>
        <div class="v18_141"></div>
        <div class="v18_144"></div>
        <div class="v18_138"></div>
        <span class="v18_140">1</span>
        <span class="v18_142">Criado em</span>
        <span class="v18_145">Ações</span>
        <span class="v18_146">Salvar</span>
        <div class="v18_147"></div>
        <div class="v18_148"></div>
        <span class="v18_152">Editar</span>
        <span class="v18_153">Deletar</span>
        <div class="v18_149 bi bi-pencil-square"></div>
        <div class="v18_154 bi bi-trash"></div>
        <div class="v29_74">
            <div class="v18_125"></div>
            <span class="v29_3">Palavras - Chave</span>
            <span class="border1"></span>
            <span class="v29_4">Intenções</span>
            <span class="border2"></span>
            <span class="v29_5">Respostas</span>
            <span class="border3"></span>
            <span class="v29_7">Arquivos </span>
            <span class="border4"></span>
            <span class="v29_9">Histórico</span>
            <span class="border5"></span>
            <span class="v29_11">Lixeira</span>
            <span class="border6"></span>
            <div class="name"></div>
            <div class="v29_33 bi bi-chat-fill"></div>
            <div class="v29_59 bi bi-trash-fill"></div>
            <span class="v29_64">Desenhado por RCA GroupCopyright 2021</span>
            <div class="v29_18 bi bi-file-spreadsheet-fill"></div>
            <div class="v29_38 bi bi-clock-history"></div>
            <div class="v29_51 bi bi-archive"></div>
            <div class="v29_54 bi bi-key"></div>
            <button class=v29_72 onclick="window.location.href = 'index.html' ">
                <span class="v29_65">Sair</span>
                <div class="name"></div>
                <div class="v29_67 bi bi-door-open-fill">
            </button>
            <span class="border7"></span>
        </div>
    </div>
    </div>
    </div>
</div>
</body>

</html>