<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Login - IFMG</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/estilo.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../../public/images/ifmg.png" />
  </head>
  <body>
    <div class="if0"></div>
    <div class="if">
      <a href="../home/index.html"><p>IFMG</p></a>
    </div>
    <div class="if2"></div>
    <div class="login-page">
      <div class="imagem">
        <img src="../../public/images/teste2.png" alt="some text" />
        <p class="rca">RCA</p>
      </div>
      <div class="form">
        <p class="titulo">Acesso ao chatbot</p>
        <form class="login-form" action="funcionalidade.html">
          <input type="text" placeholder="Número de identificação" />
          <input type="password" placeholder="Senha" />
          <button value="Submit">Entrar</button>
          <p class="message"><a href="#">Esqueceu a senha</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
