<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/estilo.css" />
  </head>
  <body>
    <div class="if">
      <p>IFMG</p>
    </div>
    <div class="if2"></div>
    <div class="login-page">
      <div class="imagem">
        <img src="../../public/images/admin/imagem.jpg" alt="some text" />
        <p class="nome">RCA</p>
      </div>
      <div class="form">
        <p class="titulo">Acesso ao chatbot</p>
        <form class="login-form" action="funcionalidade.html">
          <input type="text" placeholder="Número de identificação" />
          <input type="password" placeholder="Senha" />
          <button value="Submit">Entrar</button>
          <p class="message"><a href="#">Esqueceu a senha</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
