<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Login - IFMG</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/estilo.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../../public/images/ifmg.png" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="../../public/js/login.js"></script>
  </head>
  <body>
    <div class="if0"></div>
    <div class="if">
      <a href="../home/index.html"><p>IFMG</p></a>
    </div>
    <div class="if2"></div>
    <div class="login-page">
      <div class="imagem">
        <img src="../../public/images/teste2.png" alt="some text" />
        <p class="rca">RCA</p>
      </div>
      <div class="form">
        <p class="titulo">Acesso ao chatbot</p>
        <div class="login-form">
          <input id="numId" type="text" placeholder="Número de identificação" />
          <input id="pass" type="password" placeholder="Senha" />
          <button onclick="auth()">Entrar</button>
          <p class="message"><a href="#">Esqueceu a senha</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
