<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v18_78">
        <div class="v18_79"></div>
        <div class="v18_80"></div><span class="v18_81">IFMG</span>
        <div class="v18_82"></div>
        <div class="v20_46"></div>
        <div class="v20_55"></div>
        <div class="v20_59"></div>
        <div class="v20_51"></div><span class="v20_54">ENTRAR</span>
        <div class="v20_56"></div><span class="v20_57">Número de Identificação</span><span class="v18_104">Esqueci minha
            senha</span><span class="v20_58">Senha
        </span><span class="v18_102">RCA
        </span><span class="v18_103">Acesso ao Chatbot</span>
    </div>
</body>

</html>