<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v18_105">
        <div class="v18_106">
        </div>
        <div class="v18_107">
        </div><span class="v18_108">IFMG</span>
        <div class="v18_109">
        </div>
        <div class="v18_126">
        </div><span class="v18_127">Palavras - Chave</span>
        <div class="v18_130">
        </div>
        <div class="v18_131">
        </div><span class="v18_133">Digite aqui uma palavra chave</span>
        <div class="v18_132"></div>
        <div class="v18_134"></div><span class="v18_136">id
        </span><span class="v18_139">Nome</span><span class="v18_135">Calendário 2021</span><span
            class="v18_143">03/12/2021 as 23:50</span>
        <div class="v18_137"></div>
        <div class="v18_141"></div>
        <div class="v18_144"></div>
        <div class="v18_138"></div><span class="v18_140">1</span><span class="v18_142">Criado em</span><span
            class="v18_145">Ações</span><span class="v18_146">Salvar</span>
        <div class="v18_147"></div>
        <div class="v18_148"></div><span class="v18_152">Editar</span><span class="v18_153">Deletar</span>
        <div class="v18_149">
            <div class="v18_150"></div>
            <div class="v18_151"></div>
        </div>
        <div class="v18_154">
            <div class="v18_155"></div>
        </div>
        <div class="v29_74">
            <div class="v18_125"></div><span class="v29_3">Palavras - Chave</span><span
                class="v29_4">Intenções</span><span class="v29_5">Respostas</span><span class="v29_7">Arquivos
            </span><span class="v29_9">Histórico</span><span class="v29_11">Lixeira</span>
            <div class="name"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="v29_33">
                <div class="v29_34"></div>
                <div class="v29_35"></div>
                <div class="v29_36"></div>
                <div class="v29_37"></div>
            </div>
            <div class="v29_59">
                <div class="v29_60"></div>
                <div class="v29_61"></div>
                <div class="v29_62"></div>
                <div class="v29_63"></div>
            </div><span class="v29_64">Desenhado por RCA Group
                Copyright 2021</span>
            <div class="v29_18">
                <div class="v29_19">
                    <div class="v29_20"></div>
                    <div class="v29_21"></div>
                    <div class="v29_22"></div>
                </div>
                <div class="v29_23">
                    <div class="v29_24"></div>
                    <div class="v29_25"></div>
                    <div class="v29_26"></div>
                </div>
            </div>
            <div class="v29_38">
                <div class="v29_39"></div>
                <div class="v29_40"></div>
                <div class="v29_41">
                    <div class="v29_42"></div>
                    <div class="v29_43"></div>
                    <div class="v29_44"></div>
                    <div class="v29_45"></div>
                </div>
            </div>
            <div class="v29_51">
                <div class="v29_52"></div>
                <div class="v29_53"></div>
            </div>
            <div class="v29_54">
                <div class="v29_55">
                    <div class="v29_56"></div>
                    <div class="v29_57"></div>
                </div>
                <div class="v29_58"></div>
            </div>
            <div class="v29_72"><span class="v29_65">Sair</span>
                <div class="name"></div>
                <div class="v29_67">
                    <div class="v29_68"></div>
                    <div class="v29_69">
                        <div class="v29_70"></div>
                        <div class="v29_71"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>