<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>IFMG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../public/css/main.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="../../public/js/main.js"></script>
    <link rel="icon" href="../../public/images/ifmg.png" />
  </head>

  <body>
    <div class="if0"></div>
    <header class="header">
      <img class="logo" src="../../public/images/logo.svg" alt="imagem logo" />
      <a
        class="linkadm"
        href="../admin/index.html"
        style="
          color: white;
          text-decoration: none;
          margin-left: 70%;
          font-weight: bold;
          margin-top: 182px;
        "
        >Administrativo</a
      >
    </header>

    <main class="main">
      <div class="menuLateral"></div>
      <div class="divisoria">
        <div class="cabecalho"></div>
        <h2>Lorem Ipsum, Lorem Ipsum, Lorem Ipsum.!</h2>
        <p>
          Apenas um texto de descrição daquele jeito talvez, talvez por favor é
          isso.
        </p>
        <div class="conteudo"></div>
      </div>
      <div class="chatbot">
        <div class="header-row">
          <img
            src="../../public/images/ifmg.png"
            width="21"
            style="margin-left: 6px"
          />
          <h2 class="chatbotTitle">Chatbot</h2>
          <i class="fa fa-chevron-up" style="color: white; margin: auto"></i>
          <i
            class="fa fa-chevron-down"
            style="color: white; margin: auto; display: none"
          ></i>
        </div>

        <div class="grid-bot">
          <div
            style="
              background: green;
              margin: auto;
              padding: 10px;
              border-radius: 50px;
              margin-top: 22px;
            "
          >
            <i
              class="fa fa-user-secret"
              style="color: white; font-size: 18px"
            ></i>
          </div>
          <div class="message-bot">
            Sou o assistente virtual do IFMG, estou aqui para tirar suas dúvidas
            e receber solicitações. Sobre o que deseja falar?
          </div>
        </div>
        <div class="message-client">📅 Quero o calendário de 2021</div>
        <div class="footer-send">
          <input
            class="send"
            type="text"
            id="fname"
            name="fname"
            placeholder="Digite sua mensagem..."
          />
          <div class="btn-send">
            <i
              class="fa fa-play"
              style="color: white; font-size: 15px; margin-top: 3px"
            ></i>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
